

    

.header-container{
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 0 10px; 
}
.link{
   background: #fff;
   margin-right: 20px;
   text-decoration: none;
   font-size: 20px;
}
.link:hover{
    border-radius: 1px solid red;
    color: rgb(165, 165, 165);
    text-decoration: underline;
}
.image{
    background: linear-gradient(87deg, rgba(20, 23, 39, 0.6) 0, rgba(58, 65, 111, 0.8)),url(https://images.unsplash.com/photo-1554415707-6e8cfc93fe23?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2070&amp;q=80);
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    width: calc(100%-40px);
    position: relative;
    margin: 20px;
    border-radius: 10px;
    
  
}
.z-index{
    position: absolute;
    top: 100px;
    
   left: 80px;
}
.z-index h1{
   font-size: 50px;
   max-width: 650px;
   color: white;
}
.z-index p{
   max-width: 690px;
   font-size: 20px;
   color: white;
}
.read{
    border-radius: 20px;
    border: 1px solid green;
    margin: 10px;
    color: wheat;
    font-size: 15px;
    padding: 12px 15px;
    background-color: rgb(255, 0, 13);
}
.read:hover{
    border: 1px solid rgb(0, 255, 0);
    background-color: rgb(106, 78, 108);
    color: rgb(255, 255, 255);
}
.first-row{
    padding: 40px;
    display: flex;
    margin: 20px;
    justify-content: space-between;
}
.first-row img{
    height: 250px;
    width: 400px;
    border-radius: 10%;
}
.first-row p{
    max-width: 400px;
}
.second-row{
    padding: 40px;
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
.second-row img{
    height:200px ;
    width: 300px;
    border-radius: 10%;
}
.second-row p{
    max-width: 300px;
}
.second-row h2{
    max-width: 350px;
}
.third-row{
    display: flex;
    width: auto;
    height: 700px;
    
}
.third-grid{
    max-width: 500px;
    margin: 40px;
    display: grid;
    
}
.third-row img{
    width: 770px;
    height: 500px;
    border-radius: 13%;
}
.footer-class{
    display: flex;
    padding: 40px;
    word-spacing: normal;
    justify-content: space-evenly;
    margin-left: 20px;

}
.icons{
    letter-spacing: 10px;
}
 main a{
    color: #cb0c9f;
    text-decoration: none;
}
main a:hover{
   
    color: rgb(0, 140, 255);
}
@media screen and (max-width: 900px){
    body{
          background-color: aqua;
    }
    
    
}


