
.h1{
    text-align: center;
    color: red;
    text-decoration: underline;
    background-color: yellowgreen;
}
@media screen and (min-width : 900px){
.parent{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
}
}

p{
    max-width: 200px;
}
.image :hover{
    border: 3px solid red;
}
.image{
    padding: 10px;
    border: 10px;
}
a{
    text-decoration: none;
    color: black;
    margin: 10px;
    border: 1px solid green;
    background-color: red;
    color: wheat;
    padding: 12px 15px;
    border-radius: 24px;
    font-size: 15px;


}
a :hover{
    border: 1px solid green;
    background-color: rgb(rgb(74, 44, 44));
    color: green;
}

/* .hello{
    background-color: black;
}


    .hello h1{
        background-color: red;
    }
 */
 /* .positionrelative{
    width: 100%;
    height: 500px;
    background-color: black;
    color: red;
    position: relative;
 }
 .positionabsolute{
    position: absolute;
    width: 200px;
    height: 200px;
    right: 10px;
    background-color: aqua;
 } */